@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap");

@mixin centrarFlex($direccion) {
  display: flex;
  justify-content: center;
  flex-direction: $direccion;
}

$rojo: #8a3535;
$amarillo: #8a8135;
$verde: #358a39;

* {
  margin: 0;
  padding: 0;
}

body {
  h2 {
    font-weight: 300;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: Rubik, sans-serif;
    display: inline-block;
    @include centrarFlex(row);
  }

  main {
    @include centrarFlex(column);

    #kumato {
      width: auto;
      display: inline-block;
      margin: 0 auto;
      padding: 7px 15px;
      border-radius: 25px;
      h2 {
        font-size: 5em;
      }
    }

    .running {
      background: $rojo;
    }

    .paused {
      background: $amarillo;
    }

    .not-started,
    .resting {
      background: $verde;
    }

    .actions {
      @include centrarFlex(row);
      button {
        border: none;
        padding: 5px 7px;
        margin: 15px 7px;
        border-radius: 7px;
        background: #ffffff;
        text-transform: uppercase;
        font-family: Karla, sans-serif;
      }

      .fadeOut {
        display: none;
        pointer-events: 0;
      }
      .fadeIn {
        display: block;
        pointer-events: 1;
      }
    }
  }
}
.dark-mode {
  background: #393939;
  color: #fff;
}
